.services{
    width: 71%;
    height: auto;
    color: #555;
}
.srvices-content{
    flex-wrap: wrap;
}
.services-block{
    width: 31.5%;
    margin-bottom: 9%;
}
.services-block__img{
    background-image: url(services/img/services-fa-icons.png);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-size: 300%;
    margin-bottom: 8%;
}
.services-block__img-first{
    background-position-x: left;
    &:hover{
        background-position-y: bottom;
    }
}
.services-block__img-second{
    background-position-x: right;
    &:hover{
        background-position-y: bottom;
    }
}
.services-block__img-thrid{
    background-position-x: center;
    &:hover{
        background-position-y: bottom;
    }
}
.services-block__header{
    margin-bottom: 6%;
    font-weight: bold;
}
.services-block__text{
    letter-spacing: .35px;
    line-height: 165%;
}