.header{
    width:100%; 
    height:auto;
}
.header_bg{
    background-image: url(header/img/header-bg.png);
    background-repeat: no-repeat;
}
.header_text-color{
    color:#fff;
}
.header_indent{
    padding-top: 2.9%;
    width: 72%;
}
.logo_font-style{
    font-size: 24px;
    font-weight: bold;
}
.header-wrapper{
    padding-right: 2%;
    flex-wrap: wrap;
}
.wrapper-item{
    padding-top: 1%;
}
.wrapper-item__link{
    @extend .header_text-color;
    font-size: 72%;
    margin-left: 32px;
}
.header__h1{
    margin-top: 15.7%;
    font-size:240%;
    letter-spacing: 2px;
}
.header__h2{
    font-weight: 100;
    font-size:110%;
    margin: 1.6% 1.3% 0% 0%;
}
.header__button{
    width: 152px;
    height: 42px;
    background: none;
    margin:3.1% 1.8% 20% 0%;
}
